/*************************************|
|*******         FONTS       *********|
**************************************/


/*************************************|
|*******         RESET       *********|
**************************************/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.clearfix:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
}
* html .clearfix {
    zoom: 1;
}
*:first-child + html .clearfix {
    zoom: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}
/*************************************|
|*******        GLOBAL       *********|
**************************************/
body {
    font-family: 'Hind', sans-serif;

    color: #392d44;
    background-color: #efefef;
}
/*.current_games {
     overflow-y: scroll; 
}*/
.btn_add,
.btn_remove {
    cursor: pointer;
}
header {
    position: fixed;
    z-index: 1;

    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    width: 75%;
    padding: 15px;

    background-color: #392d44;

    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    -ms-align-items: center;
        align-items: center;
}
header .logo {
    /*flex-basis: 150px;*/
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
}
.search {
    position: fixed;
    top: 81px;

    overflow-y: scroll;

    height: calc(100% - 83px);
}
.logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
}
header .form {
    text-align: right;
    /*flex-basis: 200px;*/

    flex-grow: 3;
    flex-shrink: 1;
}
.wrapper {
    /*display: flex;*/
}
.search {
    width: 75%;
    padding: 15px;
}
aside {
    /*padding: 15px;*/
    position: fixed;
    top: 0;
    right: 0;

    overflow-y: scroll;

    width: 25%;
    height: 100vh;

    border-left: 3px solid #392d44;
    background-color: #bfd4d8;
}
.total sub {
    padding-left: 15px;
}
.easy-autocomplete {
    display: inline-block;

    /*width: 100%;*/
    /*max-width: 600px;*/
}
.easy-autocomplete input {
    width: 100%;
}
.easy-autocomplete-container {
    text-align: left;
}
.easy-autocomplete-container ul li div {
    color: #000;
}
.search_result {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    width: 100%;

    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
    justify-content: center;
}
.search_result > div {
    position: relative;

    margin: 10px;
    padding: 15px;

    background-color: #fff;
    /*height: 300px;*/

    flex-basis: 250px;
    /*flex-grow: 1;*/
    flex-shrink: 1;
}
.wrapper_img {
    display: flex;

    width: 100%;
    height: 200px;
    padding: 15px 0;

    align-items: flex-end;
    justify-content: center;
}
.edit_game {
    display: inline-block;
}
.search_result img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.btn_add {
    font-size: 40px;

    position: absolute;
    top: 5px;
    right: 5px;

    display: flex;

    width: 42px;
    height: 42px;

    transition: .4s all;

    color: #55abb9;
    border-radius: 50%;
    background-color: #fff;

    align-items: center;
    justify-content: center;
}
.btn_add:hover {
    color: #5b7e84;
}
.btn_remove {
    font-size: 20px;

    position: absolute;
    right: 0;

    padding: 15px;

    transition: .4s all;

    opacity: .4;
    color: #364c50;
}
.btn_remove:hover {
    opacity: 1;
}
h3 {
    font-size: 24px;
    font-weight: bold;

    padding: 15px;

    flex-basis: 100%;
}
h4 {
    font-size: 20px;
    font-weight: bold;

    display: block;

    padding: 15px 15px 0;
}
.wrapper_detail {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;

    -webkit-flex-wrap: wrap;
       -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
         -o-flex-wrap: wrap;
            flex-wrap: wrap;
    justify-content: left;
}
.wrapper_cards > div {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
}
.current_games > div,
.total_cards {
    position: relative;

    padding: 0 15px 5px;
}
li {
    font-size: 0;
}
li div {
    font-size: 16px;

    letter-spacing: .04em;
}
.cards_size {
    display: inline-block;

    width: 80%;
}
.cards_number {
    display: inline-block;

    width: 20%;
    min-width: 50px;
}
h2 {
    font-size: 14px;
    /*line-height: 2em;*/
    font-weight: bold;

    margin: 15px 0 5px;
}
h2 .fa-check-square {
    margin-right: 5px;
}
sub {
    font-size: 12px;
}
.wrapper_cards {
    /*border-left: 1px solid grey;*/
    margin: 10px 0;
}
.current_games > div:nth-child(odd) {
    background-color: #e8f4f6;
}
.total {
    /*position: absolute;*/
    bottom: 0;

    width: 100%;

    background-color: white;
}
.easy-autocomplete input,
header input {
    font-size: 18px;

    width: 300px;
    padding: 10px;

    transition: .4s all;

    color: #fff;
    border: none;
    border-radius: 0;
    background-color: #5b7e84;
}
header input:focus {
    /*width: 100%;*/

    outline-width: 2px;
    outline-style: solid;
    outline-color: #55abb9;
}
.form_search {
    font-size: 0;
}
button[type='submit'] {
    font-size: 18px;

    padding: 10px 15px;

    cursor: pointer;
    transition: .4s all;

    color: #fff;
    border: none;
    background: #55abb9;
}
button[type='submit']:hover {
    background: #364c50;
}
button:focus {
    outline: none;
}
.search_result a {
    font-size: 14px;

    transition: .4s all;

    color: #55abb9;
    /*padding: 0 5px; */
}
.search_result a:hover {
    /*background-color: #55abb9;*/
    color: #c4beca;
}
.current_games a {
    font-size: 14px;
    /*display: inline-block;*/
    /*padding: 5px;*/

    transition: .4s all;

    color: #000;
}
.current_games a:hover {
    /*background-color: #55abb9;*/
    color: #55abb9;
}

input::-webkit-input-placeholder {
    font-size: 16px;

    color: #eaeaea;
}
input::-moz-placeholder {
    color: #fff;
}
input:-ms-input-placeholder {
    color: #fff;
}
input:-moz-placeholder {
    color: #fff;
}
.contribute {
    font-size: 300px;
    line-height: 0;

    display: flex;

    width: 100%;
    height: 100%;

    text-align: center;

    align-items: center;
    justify-content: center;
}
.contribute span {
    font-size: 32px;
    font-weight: bold;
}
.contribute a {
    transition: .4s all;
    text-decoration: none;

    color: #bfd4d8;
}
.contribute a:hover {
    color: #392d44;
}

/*************************************|
|*******         EDIT        *********|
**************************************/

.edit header {
    width: 100%;
}
.edit .search {
    width: 50%;
}
.edit .view {
    font-weight: bold;
    font-variant: all-small-caps;

    cursor: pointer;
}
.edit .view:hover {
    color: #fff;
    background-color: #55abb9;
}

.edit .search_result {
    display: table;
}
.edit .search_result > div {
    width: 100%;
    margin: 0;
    padding: 0;
}
.edit .row {
    display: table-row;
}
.edit .image,
.edit .year,
.edit .view {
    text-align: center;
}
.edit .image img {
    width: auto;
    height: 50px;
    max-width: 50px;
}
.edit .row div {
    display: table-cell;

    padding: 10px;

    vertical-align: middle;

    border: 1px solid #eaeaea;
    background-color: #fff;
}
.edit aside {
    position: fixed;
    top: 81px;

    overflow-y: scroll;

    width: 50%;
    height: calc(100% - 83px);
    padding: 15px;
}
.detail input[type='text'],
.detail input[type='number'] {
    font-size: 18px;

    display: block;

    width: 100%;
    max-width: 450px;
    margin: 5px auto;
    padding: 10px;

    text-align: center;

    border: none;
    border: 1px solid #392d44;
}
.table {
    display: table;

    width: 100%;

    text-align: center;
}
.edit .detail .row div {
    border: none;
    background-color: transparent;
}
.edit .add,
.edit .remove {
    font-size: 30px;
    line-height: 30px;

    display: inline-block;

    width: 43px;
    height: 43px;
    padding: 5px 15px 5px;

    cursor: pointer;
    transition: .4s all;

    color: #fff;
    background-color: #55abb9;
}
.edit .add:hover,
.edit .remove:hover {
    background-color: #364c50;
}
.detail {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    text-align: center;
}
.detail .submit {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;

    max-width: 200px;
    margin-top: 20px;
    padding: 10px 20px;

    cursor: pointer;
    transition: .4s all;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #392d44;
}
.detail .submit:hover {
    background-color: #806f90;
}
.edit h2 {
    font-size: 30px;
}
.edit aside h3 {
    font-size: 18px;

    margin-bottom: 15px;
    padding: 10px;

    border-bottom: 1px dashed #392d44;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .3);
}
.flex {
    display: flex;

    width: 100%;
    padding: 25px;

    align-items: center;
    justify-content: center;
}
.flex div {
    position: relative;

    width: 100%;
    max-width: 300px;
    padding: 50px;

    background-color: #fff;
}
.add_game span, .edit_game a {
    font-size: 18px;
    padding: 10px 15px;
    cursor: pointer;
    transition: .4s all;
    display: inline-block;
    color: #fff;
    border: none;
    background-color: #80629c;
}
.edit_game a {
    background-color: #ffc800;
}
.add_game span:hover, .edit_game a:hover {
    background: #364c50;
}
.navigation {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.navigation span {
    padding: 10px 15px;
    background-color: rgba(91, 126, 132, 0.5);
    display: inline-block;
    color: #fff;
    cursor: pointer;
    transition: .2s all;
    margin: 0 10px;
}
.navigation span:hover {
    background-color: rgba(91, 126, 132, 1);
}


@media (max-width: 1100px) {
    .index aside {
        top: unset;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 57px;
        border: 0;
        border-top: 3px solid #392d44;
        overflow-y: hidden;
    }
    header {
        width: 100%;
    }
    .search {
        width: 100%;
        top: 131px;
        height: calc(100% - 185px);
    }
    .index aside h3::after {
        content: "^";
        position: absolute;
        right: 10px;
    }
    .contribute {
        height: 95%;
    }
}
@media (max-width: 780px) {
    .index .search_result > div {
        flex-grow: 1; 
    }
    header .logo {      
        display: block;
        width: 100%;
        text-align: center;
    }
    header .form {
        width: 100%;
        text-align: center;
    }
    .form_search {
        margin-top: 10px;
    }
    .easy-autocomplete {
        width: calc(100% - 96px);
    }
    .easy-autocomplete input, header input {
        width: 100%;
    }
}